@use './normalize.scss';
@use './elementui.scss';
@use './vxetable.scss';

a {
  color: #00a096;
  text-decoration: none;
  cursor: pointer;
  margin-left: 5px;
}

a:hover,
a:active {
  color: #00796a;
}